@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500;600;700&family=Italiana&display=swap');

@import-normalize; 
/* Resetar css */

body {
  background-color: #f6f6f6;
}

* {
  box-sizing: border-box;
  font-family: 'Italiana', sans-serif;

}
